version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: extrackeradmin
      POSTGRES_PASSWORD: e1W3cvf34RTuio
      POSTGRES_DB: extrelationaldb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

