.kank-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .kank-label {
        margin-left: 1rem;
        text-transform: capitalize;
        font-size: 1rem;
    }

    .kank-input {
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        text-transform: capitalize;
    }
}